<div class="col-md-4">
    <div class="panel panel-warning">
        <div class="panel-heading">
            <h3 class="panel-title">API Commons</h3>
        </div>
        <div class="panel-body">
            <h4><em>Action</em></h4>
            <h5>Every request should contain <em>action</em> which guides the system to perform specific procedures</h5>
            <table class="table">
                <thead>
                <tr>
                    <td>Action</td>
                    <td>Description</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>new_model</td>
                    <td>Creates a new model and saves it to database</td>
                </tr>
                <tr>
                    <td>status*<br>(not implemented)</td>
                    <td>Check the status of training in case of heavy workload</td>
                </tr>
                <tr>
                    <td>predict</td>
                    <td>Use the saved model to predict output for given data</td>
                </tr>
                <tr>
                    <td>delete</td>
                    <td>Delete the model from database</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>