{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Linear Regression</h3>
                </div>
                <div class="panel-body">
                    <img class="img-responsive" src="{% static 'img/linear_regression.png' %}">
                    <h4><em>Crux</em></h4>
                    <h5>Given a set of features and their predetermined outcomes, a dependency can be formed between the two which can be used to extrapolate or interpolate outcome of an unknown feature set.</h5>
                    <h5><a target="_blank" href="https://en.wikipedia.org/wiki/Linear_regression">More Details : Wikipedia</a></h5>
                </div>
            </div>
        </div>
        {% include "./api_login.html" %}
        {% include "./api_commons.html" %}
    </div>

    <div class="row">
        <div class="col-md-10">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Training : Compute Final Score of Exam</h3>
                </div>
                <div class="panel-body">
                    <h5>You are a Physics student who appeared for the final exams and very impatient to know your final score. But the teacher who grades you is insanely strict. He assigns different weights to the exams Physics students take but no one knows the magic formula (which is 0.5 * Paper_1 + 2 * Paper_2 + Paper_3) - its a secret but will need it to verify the prediction). You have a list of your friends' exam scores and final aggregate and want to calculate yours.</h5>
                    <h4><em>Request</em></h4>
                    <pre>
POST /api/linear_regression/ HTTP/1.1
Content-Type: application/json
Accept: application/json
Authorization: JWT abcd12345

{
	"action": "new_model",
	"name": "Compute Final Score",
	"input_x": [[9.5, 8.75, 6.9], [9.9, 4.8, 5.45], [8.5, 5.7, 9.8], [9, 9.5, 9.1]],
	"input_y": [29.15, 20, 25.45, 32.6]
}</pre>
                    <h4><em>Response</em></h4>
                    <pre>
{
    "status": "Trained",
    "model_id": "58e37bb568b9b62d3d8a3818"
}</pre>
                </div>
            </div>
        </div>
    </div>

        <div class="row">
        <div class="col-md-10">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Prediction : Compute Final Score of Exam</h3>
                </div>
                <div class="panel-body">
                    <h5>Now, you provide the model with yours along with your best friend's scores and it computes the best possible solution. According to the magic formula, scores should be 32.6 & 26.5</h5>
                    <h4><em>Request</em></h4>
                    <pre>
POST /api/linear_regression/ HTTP/1.1
Content-Type: application/json
Accept: application/json
Authorization: JWT abcd12345

{
	"action": "predict",
	"model_id": "58e37bb568b9b62d3d8a3818",
	"input_x": [[9, 9.5, 9.1], [8, 8, 6.5]]
}</pre>
                    <h4><em>Response</em></h4>
                    <pre>
{
    "status": "OK",
    "prediction": [
        32.6,
        26.499999999999957
    ]
}</pre>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}