{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">


    <div class="row">

        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2>Raman Sah</h2>
                    <h6>Python Lover | Machine Learning Enthusiast | Full Stack Developer | Freelancer</h6>
                </div>
                <div class="panel-body">
                   <div class="row">
                    <div class="col-md-9">
                        <br>
                        <p>Having a Bachelor's degree in Electronics, I started my journey in a <a href="http://mcruiseon.com/">Travel-based tech startup</a>, gained experience in Android and Java based backend.</p>
                        <p>Later switched to Python and explored Django along with PyQT, MongoDB, ScraPy etc. Built dozens of web applications from scratch until final deployed in Amazon servers.</p>
                        <p>Finally got dirty with Machine Learning, TensorFlow and Deep Learning.</p>
                        <p>These days, I am a CFA Level 1 Candidate, building this project and seeking ML related work in Fin-Tech.</p>
                        <br>
                        <h6>
                            <a href="https://www.linkedin.com/in/raman-sah-b46204100/">LinkedIn Profile</a> &nbsp;|&nbsp;
                            <a href="https://medium.com/@ramansah">Medium Blog</a> &nbsp;|&nbsp;
                            <a href="#">Kaggle Profile</a>&nbsp;|&nbsp;
                            <a href="https://github.com/ramansah">Github Handle</a>
                        </h6>
                        <h6>
                            <a href="#">ramansah@live.com</a>&nbsp;|&nbsp;
                            <a href="#">Skype - live:ramansah</a>&nbsp;|&nbsp;
                            <a href="#">+91-9403973427</a>
                        </h6>
                    </div>
                    <div class="col-md-3">
                        <img class="img-responsive" src="{% static 'img/photo.jpg' %}" style="border-radius: 10px;">
                    </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>

{% endblock %}