{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">


    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h2 class="text-center"><strong>Machine Learning For Everyone</strong></h2>
            </div>
        </div>
    </div>


    <div class="row">

        <div class="col-md-6">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="panel-title">Welcome!</h4>
                </div>
                <div class="panel-body">
                    <p>Here, one can learn and test Machine Learning models through APIs for free</p>
                    <p>No more coding expertise, installation headaches, compatibility issues, need for a powerful rig. Even <a href="https://chrome.google.com/webstore/detail/postman/fhbjgbiflinjbdggehcddcbncdddomop?hl=en">Postman</a> could run it</p>
                    <p>And the best part is; the project is open source, the complete application can be <a href="https://github.com/ramansah/ml_webapp">forked from Github</a></p>
                    <p><strong>The project is under active development and more complex models will be available soon. My favorite is Recurrent Neural Networks</strong></p>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <img class="img-responsive" src="{% static 'img/ml.png' %}">
        </div>

    </div>


    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h4 class="panel-title">Try It Out</h4>
                </div>
                <div class="panel-body">
                    <ul>
                        <li>Check out predefined models</li>
                        <ul>
                            <li><a href="/models/knn_classifier/">K-Nearest Neighbor Classifier</a></li>
                            <li><a href="/models/linear_regression/">Linear Regression</a></li>
                        </ul>
                        <li>Sign Up <a href="/signup/">Here</a></li>
                        <li>Login <a href="/login/">Here</a></li>
                        <li>Check your <a href="/dashboard/">Dashboard</a></li>
                        <li>Pick up your favorite api consumer and:</li>
                        <ul>
                            <li>Create and save models</li>
                            <li>Run predictions (case to case basis)</li>
                        </ul>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Frameworks Used</h3>
                </div>
                <div class="panel-body">
                    <div class="row" style="margin-bottom:50px; margin-top:50px;">
                        <div class="col-md-4"></div>
                        <div class="col-md-4" style="text-align: center;">
                            <a href="http://scikit-learn.org/"><img src="{% static 'img/scikit-learn-logo.png' %}" style="height:120px; border-radius: 10px;"></a>
                        </div>
                        <!--div class="col-md-4" style="text-align: center;">
                            <a href="https://www.tensorflow.org/"><img src="{% static 'img/tensorflow-logo.jpg' %}" style="height:170px; border-radius: 10px;"></a>
                        </div>
                        <div class="col-md-4" style="text-align: center;">
                            <a href="http://www.celeryproject.org/"><img src="{% static 'img/celery-logo.png' %}" style="height:110px; border-radius: 10px;"></a>
                        </div-->
                    </div>
                    <div class="row" style="margin-bottom:50px; margin-top:50px;">
                        <div class="col-md-2"></div>
                        <div class="col-md-4" style="text-align: center;">
                            <a href="https://www.djangoproject.com/"><img src="{% static 'img/django-logo.png' %}" style="height:90px; border-radius: 10px;"></a>
                        </div>
                        <div class="col-md-4" style="text-align: center;">
                            <a href="https://www.mongodb.com/"><img src="{% static 'img/mongodb-logo.png' %}" style="height:100px; border-radius: 10px;"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

{% endblock %}